# Chapter 05. List

In [7]:
#예제 5-1
fruits = ['사과','오렌지','딸기','포도','감','키위','멜론','수박']
list1=[5, 10.2, '탁구',True,[4,5,6]]
numbers = list(range(1,10,2))

print(fruits)
print(list1)
print(numbers)

print()

print(fruits[0])
print(fruits[1:4])
print(fruits[2:])
print(fruits[-1])     #타입이 str
print(fruits[-1:])    #타입이 list
print(fruits[-4:-2])
print(fruits[-3:])

['사과', '오렌지', '딸기', '포도', '감', '키위', '멜론', '수박']
[5, 10.2, '탁구', True, [4, 5, 6]]
[1, 3, 5, 7, 9]

사과
['오렌지', '딸기', '포도']
['딸기', '포도', '감', '키위', '멜론', '수박']
수박
['수박']
['감', '키위']
['키위', '멜론', '수박']

In [1]:
#예제 5-2

a=['red','green','blue']
a.append('yellow')
print(a)

a.insert(1,'black')
print(a)

b=['purple','white']
a.extend(b)
print(a)

c=a+b
print(c)

['red', 'green', 'blue', 'yellow']
['red', 'black', 'green', 'blue', 'yellow']
['red', 'black', 'green', 'blue', 'yellow', 'purple', 'white']
['red', 'black', 'green', 'blue', 'yellow', 'purple', 'white', 'purple', 'white']

In [5]:
#예제 5-3

a= list(range(10,101,10))
x= a.index(30)
print(x)

a.pop(x)
print(a)

a.remove(90)
print(a)

a.clear()
print(a)

2
[10, 20, 40, 50, 60, 70, 80, 90, 100]
[10, 20, 40, 50, 60, 70, 80, 100]
[]

In [14]:
#예제 5-4
list1 = ['a','bb','c','d','aaa','c','ddd','aaa','b','cc','d','aaa',]
length = list1.count('aaa')
length1=len(list1)
print(length)
print(length1)

3
12

In [15]:
#예제 5-5
list2 = [-7,1,5,8,3,9,11,13]
list2.sort()
print(list2)

list2.sort(reverse=True)
print(list2)

[-7, 1, 3, 5, 8, 9, 11, 13]
[13, 11, 9, 8, 5, 3, 1, -7]

In [17]:
#Q5-1

color=['red','green','blue','black','white']

print(color[0])
print(color[-1])
print(color[1:4])

red
white
['green', 'blue', 'black']

In [18]:
#Q5-2
num = list(range(1,20,2))
print(num)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [19]:
mylist = ['사과','바나나','파인애플','배']
mylist.append('키위')

for a in mylist:
    print(a)

사과
바나나
파인애플
배
키위

In [21]:
#Q5-4
mylist = ['사과','바나나','파인애플','포도','오렌지','배']

mylist.remove('바나나')
print(mylist)

['사과', '파인애플', '포도', '오렌지', '배']

In [22]:
b=[10,20,30,40,50]
b[2]=[33,35]
print(b)

[10, 20, [33, 35], 40, 50]

In [23]:
b=[10,20,30,40,50]
b[2:3]=[33,35]
print(b)

[10, 20, 33, 35, 40, 50]

In [24]:
#Q5-5
person1=['kim',24,'kim@naver.com']
person2=['lee',35,'lee@hanmail.net']

person = person1 + person2
print(person)

['kim', 24, 'kim@naver.com', 'lee', 35, 'lee@hanmail.net']

In [25]:
#예제 5-6
fruits = ['apple','orange','banana']

for fruit in fruits :
    print(fruit)

apple
orange
banana

In [27]:
#예제 5-7
scores=[88,75,90,95,77,69,80,92]

sum = 0
for score in scores :
    sum+=score
avg=sum/8
    
print('총점 : %d, 평균 : %.2f' %(sum,avg) )

총점 : 666, 평균 : 83.25

In [28]:
#예제 5-8
animals = ['토끼','거북이','사자','호랑이']

i=0

while i < len(animals) :
    print(animals[i])
    i+=1

토끼
거북이
사자
호랑이

In [31]:
#Q5-6

s= [64,89,100,85,77,58,79,67,96,87,87,36,82,98,84,76,63,69,53,22]
count_su = 0
count_woo =0
count_mi = 0
count_yang = 0
count_ga=0

i=0

while i < len(s):
    if s[i] >= 90 and s[i] <= 100 :
        count_su += 1
    elif s[i] >= 80 and s[i] <= 89 :
        count_woo += 1
    elif s[i] >= 70 and s[i] <= 79 :
        count_mi += 1
    elif s[i] >= 60 and s[i] <= 69 :
        count_yang += 1
    else :
        count_ga += 1
    i+=1
print('수 : %d명' %(count_su) )
print('우 : %d명' %count_woo )
print('미 : %d명' %count_mi )
print('양 : %d명' %count_yang )
print('가 : %d명' %count_ga )

수 : 3명
우 : 6명
미 : 3명
양 : 4명
가 : 4명

In [35]:
#예제 5-10
scores = [[96,84,80],[96,86,76],[76,95,83],[89,96,69],[90,76,91],[82,66,88],[83,86,79],[85,90,83]]

for i in range(len(scores)):
    sum = 0
    for j in range(len(scores[i])):
        sum += scores[i][j]
    avg = sum/len(scores[i])
    
    print('%d번 째 학생의 합계 : %d, 평균 : %.2f'\%(i+1,sum,avg))

1번 째 학생의 합계 : 260, 평균 : 86.67
2번 째 학생의 합계 : 258, 평균 : 86.00
3번 째 학생의 합계 : 254, 평균 : 84.67
4번 째 학생의 합계 : 254, 평균 : 84.67
5번 째 학생의 합계 : 257, 평균 : 85.67
6번 째 학생의 합계 : 236, 평균 : 78.67
7번 째 학생의 합계 : 248, 평균 : 82.67
8번 째 학생의 합계 : 258, 평균 : 86.00

In [38]:
#예제 5-10
scores = [[96,84,80],[96,86,76],[76,95,83],[89,96,69],[90,76,91],[82,66,88],[83,86,79],[85,90,83]]

for score in scores:
    sum = 0
    for x in score :
        sum += x
    avg = sum/len(score)
    
    print('%d번 째 학생의 합계 : %d, 평균 : %.2f'\%(x,sum,avg))

SyntaxError: unexpected character after line continuation character (<ipython-input-38-dbad66188cf6>, line 10)

In [45]:
#Q5-7

question = ['tr_in','b_s','_axi','air_lane']
answer = ['a','u','t','p']

for i in range(0,len(question)):
    q = '%s에서 밑줄(_)안에 들어갈 알파벳은?' %question[i]
    ans = input(q)
    
    if ans == answer[i]:
        print('정답입니다.')
    else:
        print('틀렸습니다.')

tr_in에서 밑줄(_)안에 들어갈 알파벳은?a
정답입니다.
b_s에서 밑줄(_)안에 들어갈 알파벳은?u
정답입니다.
_axi에서 밑줄(_)안에 들어갈 알파벳은?t
정답입니다.
air_lane에서 밑줄(_)안에 들어갈 알파벳은?p
정답입니다.

In [51]:
scores = [[96,84,80],[96,86,76],[76,95,83],[89,96,69],[90,76,91],[82,66,88],[83,86,79],[85,90,83]]

i=0
while i < len(scores):
    sum = 0
    j = 0
    while j < len(scores[i]):
        sum = sum + scores[i][j]
        j += 1
    avg = sum/len(scores[i])
    
    print('%d번 째 학생의 합계 : %d, 평균 : %.2f'%(i+1,sum,+avg))
    i+=1

1번 째 학생의 합계 : 260, 평균 : 86.67
2번 째 학생의 합계 : 258, 평균 : 86.00
3번 째 학생의 합계 : 254, 평균 : 84.67
4번 째 학생의 합계 : 254, 평균 : 84.67
5번 째 학생의 합계 : 257, 평균 : 85.67
6번 째 학생의 합계 : 236, 평균 : 78.67
7번 째 학생의 합계 : 248, 평균 : 82.67
8번 째 학생의 합계 : 258, 평균 : 86.00

In [52]:
#Q5-9
scores =[]
while True :
    score = int(input('성적을 입력하세요(종료시 -1 입력) :'))
    
    if score == -1:
        break
    else :
        scores.append(score)
        
    sum = 0
    for i in range(0,len(scores)):
        sum += scores[i]
        
    avg = sum/len(scores)
print('합계 %d, 평균 : %.2f' %(sum,avg))

성적을 입력하세요(종료시 -1 입력) :75
성적을 입력하세요(종료시 -1 입력) :83
성적을 입력하세요(종료시 -1 입력) :88
성적을 입력하세요(종료시 -1 입력) :93
성적을 입력하세요(종료시 -1 입력) :97
성적을 입력하세요(종료시 -1 입력) :-1
합계 436, 평균 : 87.20

In [56]:
#Q5-10
seats = [[0,0,0,0,0,0,0,0,0,0],\
        [0,0,0,0,0,0,0,0,0,0],\
        [0,0,0,0,0,0,0,0,0,0],\
        [1,1,1,0,0,0,0,0,1,0],\
        [0,0,0,0,0,1,0,0,0,0],\
        [0,1,0,0,0,1,0,1,0,0],\
        [0,0,0,0,0,0,1,0,0,0],\
        [1,0,1,0,0,0,0,0,0,1]]

for i in range(len(seats)):
    for j in range(len(seats[i])):
        if seats[i][j] == 0:
            print('%3s' %'□',end = '')
        else:
            print('%3s' %'■',end = '')
    print()
print('\n 예약 가능 : ■, 예약 불가 : □')

  □  □  □  □  □  □  □  □  □  □
  □  □  □  □  □  □  □  □  □  □
  □  □  □  □  □  □  □  □  □  □
  ■  ■  ■  □  □  □  □  □  ■  □
  □  □  □  □  □  ■  □  □  □  □
  □  ■  □  □  □  ■  □  ■  □  □
  □  □  □  □  □  □  ■  □  □  □
  ■  □  ■  □  □  □  □  □  □  ■

 예약 가능 : ■, 예약 불가 : □

# List 표현식 검색