# Chapter 02. Python의 기본 문법

In [1]:
a = 20
b = 30
c = a+b
print(c)

50

In [2]:
x = 'I am happy!'

print(x[0])
print(x[0:3])
print(x[5:])
print(x[-8:-5])

I
I a
happy!
m h

In [3]:
x,y=(5,10)
print(x)
print(y)
#x,y,_ = func(a,b,c)
#_는 버리는 변수

5
10

In [4]:
x = 20
Computer = 'Mac'
Age = 30
my_score = 70
_name = '홍길동'
myBirthYear = 1997
data2 = 20.3

print(x,Computer,Age,my_score,_name,myBirthYear,data2)

20 Mac 30 70 홍길동 1997 20.3

In [5]:
x = 20
computer = 'Mac'
age = 30
my_score = 70
_name = '홍길동'
my_birth_year = 1997
data2 = 20.3

print(x,computer,age,my_score,_name,my_birth_year,data2)

20 Mac 30 70 홍길동 1997 20.3

In [6]:
x = 30
y = '30'
print(type(x))
print(type(y))
a = [1 , 0.2 , '3']
print(type(a))

<class 'int'>
<class 'str'>
<class 'list'>

In [7]:
a = 'x'
b= 'I am OK'
c= '안녕하세요'

print(a)
print(b)
print(c)
print(type(c))

x
I am OK
안녕하세요
<class 'str'>

In [8]:
#예제 2-7
a=30
print (a)
print(type(a))
b='30'
print(b)
print(type(b))

30
<class 'int'>
30
<class 'str'>

In [9]:
#예제 2-9
a=True
b=False
print(a)
print(b)

c= 10>20
print(c)

print(type(a))

True
False
False
<class 'bool'>

In [10]:
#예제 2-10
a=10
b=20

c= a+b *10-5/5
print(c)

209.0

In [11]:
#예제 2-11
x=10%3
print(x)
y=7//3
print(y)

1
2

In [12]:
#예제 2-12
x=2**3
print(x)
y=10**4
print(y)

8
10000

In [13]:
#예제 2-13

x=10
x += 20
print(x)

30

In [14]:
#예제 2-14
x=3
y=5
x*=x+y
print(x)

24

In [15]:
#예제 2-15
hello='안녕'*5
print(hello)

안녕안녕안녕안녕안녕

In [16]:
#예제 2-16
a= '쥐 구멍에도 볕 들 날 있다.'
b=len(a)
print(b)

16

In [17]:
#예제 2-17
name = '홍지수'
greet = name + '님 안녕하세요!'
print(greet)

홍지수님 안녕하세요!

In [18]:
#예제 2-18
eng = 80
result = '영어 점수 :' + eng + '점'
print(result)

TypeError: can only concatenate str (not "int") to str

In [43]:
#예제 2-19
eng = 80
result = '영어 점수 :' + str(eng) + '점'
print(result)

영어 점수 :80점

In [44]:
#예제 2-20
name = '김수영'
a = '나는 %s입니다.' % name
print(a)

나는 김수영입니다.

In [45]:
#예제 2-21
age= 20
a= '나이는 %d살 입니다.' %age
print(a)

나이는 20살 입니다.

In [46]:
#예제 2-22
year = 2020
month =3
day =5

a= '%d - %02d -%02d' %(year,month,day)
print(a)

2020 - 03 -05

In [47]:
#예제 2-23
height = 172.5
a= '키는 %.2f입니다.' %height
print(a)

키는 172.50입니다.

In [48]:
#예제 2- 24
name = '황예린'
age = 18
eyesight = 1.2

a='이름 : {}'.format(name)
b='나이 : {}세'.format(age)
c='시력 : {}'.format(eyesight)
print (a,b,c)

이름 : 황예린 나이 : 18세 시력 : 1.2

In [49]:
#예제 2-25
name ='홍길동'
age = 30
height = 173.7

print(name,age,height)

홍길동 30 173.7

In [50]:
#예제 2-26
x=10
y=20
print ('x = '+ str(x) +', y = '+ str(y))

x = 10, y = 20

In [51]:
#예제 2-27
score1 = 80
score2 = 87

sum = score1 + score2
avg = sum /2

print ('두 과목 점수 : %d, %d, %(score1,score2)')
print('합계 : %d, 평균 : %.2f' %(sum,avg))

두 과목 점수 : %d, %d, %(score1,score2)
합계 : 167, 평균 : 83.50

In [52]:
#예제 2-28
name = '김소원'
id= 'kim'
point = 18000


print ('이름 : {}'.format(name))
print('아이디 : {}, 마일리지 : {}'.format(id,point))

이름 : 김소원
아이디 : kim, 마일리지 : 18000

In [53]:
#예제 2-29
year = 2020
month = 3
day = 5

print(year,month,day,sep='/')

2020/3/5

In [54]:
#예제 2-30
a= '안녕하세요'
b= '반갑습니다.'
print(a)
print(b)

print ('\n\n')

print (a,end='')
print(b)

안녕하세요
반갑습니다.



안녕하세요반갑습니다.

In [55]:
#예제 2-31
name = input('이름을 입력하세요 :')

print('%s님 반갑습니다.' %name)

이름을 입력하세요 :신건찬
신건찬님 반갑습니다.

In [56]:
#예제 2-32
a= input('첫 번째 숫자를 입력하세요')
b= input('두 번째 숫자를 입력하세요')

c= a+b

print(c)
print (type(a),type(b),type(c))

첫 번째 숫자를 입력하세요1
두 번째 숫자를 입력하세요2
12
<class 'str'> <class 'str'> <class 'str'>

In [57]:
#예제 2-33
a= input('첫 번째 숫자를 입력하세요')
b= input('두 번째 숫자를 입력하세요')

c= int(a)+int(b)

print(c)
print (type(a),type(b),type(c))

첫 번째 숫자를 입력하세요1
두 번째 숫자를 입력하세요2
3
<class 'str'> <class 'str'> <class 'int'>

In [58]:
#예제 2-34
inch = float(input('인치(inch)를 입력하세요 : '))

cm = inch * 2.54
print('센티미터 : %.2f' % cm)

인치(inch)를 입력하세요 : 52.6
센티미터 : 133.60

In [59]:
# Q2-1
width = 10
height = 3

area = width * height / 2

print ('삼각형의 밑변 길이: ',width)
print ('삼각형의 높이: ',height)
print ('삼각형의 면적: ',area)

삼각형의 밑변 길이:  10
삼각형의 높이:  3
삼각형의 면적:  15.0

In [60]:
# Q2-2
price = 800
buy = 3
pay = 5000

exchange = pay - buy * price

print ('물건가격 :',price, '원')
print ('구매개수 :',buy, '개')
print ('지불금액 :',pay, '원')
print ('거스름돈 :',exchange, '원')

물건가격 : 800 원
구매개수 : 3 개
지불금액 : 5000 원
거스름돈 : 2600 원

In [61]:
# Q2-3
x= 20
y=4

x= y% x
print (x)
y-=x*2

print(x,y)

4
4 -4

In [25]:
# Q2-4
name = '홍길동'
age = 30
height = 171.5

print('성 :',name[0])
print('이름 :',name[1:3])
print('%s의 나이 : %d세, 키 : %.1f cm' % (name,age,height))

성 : 홍
이름 : 길동
홍길동의 나이 : 30세, 키 : 171.5 cm

In [24]:
# Q2-5
name = input('학생 이름을 입력하세요 :')
kor = int(input('국어 성적을 입력하세요 :'))
eng = int(input('영어 성적을 입력하세요 :'))
math = int(input('수학 성적을 입력하세요 :'))

sum = kor + eng + math
avg = sum / 3

print('이름 : %s, 국어 : %d, 영어 : %d, 수학 : %d, 평균 : %.1f, 점' %(name,kor,eng,math,avg))

학생 이름을 입력하세요 :신건찬
국어 성적을 입력하세요 :100
영어 성적을 입력하세요 :92
수학 성적을 입력하세요 :85
이름 : 신건찬, 국어 : 100, 영어 : 92, 수학 : 85, 평균 : 92.3, 점

# 2장 연습 문제

In [19]:
# 2

a= 7
b= 10
c=a + b *2

c%=5

c**=3
c-=c*10
print(c)

-72

In [20]:
# 3

r = int(input('반지름을 입력하세요 : '))
l=r*2*3.14
s=3.14*(r**2)
print('반지름 : %d cm\n원의 둘레 : %.2f cm\n원의 면적 : %.2f cm^2' %(r,l,s))

반지름을 입력하세요 : 10
반지름 : 10 cm
원의 둘레 : 62.80 cm
원의 면적 : 314.00 cm^2

In [21]:
# 4

book_price = int(input('책 값을 입력하세요 :'))
discount_rate = int(input('할인율을 입력하세요 :'))
delivery_price = int(input('배송료를 입력하세요 :'))
payment = book_price-(book_price*discount_rate/100)+delivery_price
print('결제 금액 :',int(payment),'원')
print('결제 금액 : %d원' %(payment))

책 값을 입력하세요 :15000
할인율을 입력하세요 :30
배송료를 입력하세요 :3000
결제 금액 : 13500 원
결제 금액 : 13500원

In [22]:
# 5
name = input('이름을 입력하세요 :')
current_year= int(input('현재년을 입력하세요 :'))
birth_year = int(input('탄생년을 입력하세요 :'))
age = current_year - birth_year + 1
print('%s님의 나이는 %d세 입니다.' %(name,age))

이름을 입력하세요 :신건찬
현재년을 입력하세요 :2020
탄생년을 입력하세요 :1991
신건찬님의 나이는 30세 입니다.

In [23]:
# 6
year= int(input('연을 입력하세요 :'))
month= int(input('월을 입력하세요 :'))
day= int(input('일을 입력하세요 :'))
print(year,month,day,sep='-')
print('%d-%02d-%02d'%(year,month,day))

연을 입력하세요 :2020
월을 입력하세요 :05
일을 입력하세요 :29
2020-5-29
2020-05-29