# Chapter 6. 튜플과 딕셔너리

In [5]:
#예제 6-1
menu = ('coffee','milk','tea','cider')

print(menu)
print(menu[0])
print(menu[2])
print(menu[0:3])

menu[1] = 'cola'

('coffee', 'milk', 'tea', 'cider')
coffee
tea
('coffee', 'milk', 'tea')

TypeError: 'tuple' object does not support item assignment

In [8]:
#예제 6-2
tuple1 = ('apple','banana','cherry')
tuple2 = ('orange','melon','strawberry')

tuple3 = tuple1 + tuple2
print(tuple3)

print(len(tuple3))

for x in tuple1:
    print(x)

del tuple1
print(tuple1)

('apple', 'banana', 'cherry', 'orange', 'melon', 'strawberry')
6
apple
banana
cherry

NameError: name 'tuple1' is not defined

In [11]:
# Q6-1
dans = (2,3,4,5,6,7,8,9)
print('구구단 표')
print('-'*30)

for dan in dans:
    for i in range(1,10):
        print('%d * %d = %d' %(dan,i,dan*i))
print('-'*30)

구구단 표
------------------------------
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
------------------------------

In [12]:
# Q6-2
admin_info = ('admin','12345','rubato@naver.com')

id = input('관리자 아이디를 입력하세요 :')
password = input('관리자 비밀번호를 입력하세요 :')

while True:
    if id == admin_info[0] and password == admin_info[1]:
        print('관리자입니다.')
        break
    else:
        print('아이디 또는 비밀번호가 잘못 입력되었습니다.')

관리자 아이디를 입력하세요 :admin
관리자 비밀번호를 입력하세요 :12345
관리자입니다.

In [27]:
a=tuple(i for i in range(1,10,2))
b=tuple(range(1,10,2))
c=tuple(i * i for i in range(1,6,1))
d=tuple(i * i for i in range(1,10) if i%2 == 1)
print(a)
print(b)
print(c)
print(d)

(1, 3, 5, 7, 9)
(1, 3, 5, 7, 9)
(1, 4, 9, 16, 25)
(1, 9, 25, 49, 81)

In [25]:
#예제 6-3
members = {'name':'안지영','age':30,'email':'jiyoung@korea.com'}

print(members)
print(members['name'])
print(members['age'])

print('길이 : %d' %len(members))

{'name': '안지영', 'age': 30, 'email': 'jiyoung@korea.com'}
안지영
30
길이 : 3

In [31]:
#예제 6-4
name = '안진영'
scores = {'kor':95,'eng':85,'math':90,'science':80}
print(scores)

scores['kor'] = 70
print(scores['kor'])

scores['music']= 100
print(scores)

del scores['science']
print(scores)

print('이름 : %s\n국어 : %d\n영어 : %d\n수학 : %d' %(name,scores['kor'],scores['eng'],scores['math']))

{'kor': 95, 'eng': 85, 'math': 90, 'science': 80}
70
{'kor': 70, 'eng': 85, 'math': 90, 'science': 80, 'music': 100}
{'kor': 70, 'eng': 85, 'math': 90, 'music': 100}
이름 : 안진영
국어 : 70
영어 : 85
수학 : 90

In [33]:
phones = {'갤럭시 노트8':2017,'갤럭시 S9':2018,'갤럭시 노트10':2019,'갤럭시 S20':2020}
print(phones)

for key in phones :
    print('%s => %s' %(key,phones[key]))
    
print(len(phones))

{'갤럭시 노트8': 2017, '갤럭시 S9': 2018, '갤럭시 노트10': 2019, '갤럭시 S20': 2020}
갤럭시 노트8 => 2017
갤럭시 S9 => 2018
갤럭시 노트10 => 2019
갤럭시 S20 => 2020
4

# Sequence 객체

In [42]:
#특정 값이 있는지 확인하기
a=[0,10,20,30,40,50,60,70,80,90]
print(30 in a)
print(100 in a)
print (100 not in a)
10 in a
1 in range(10)
'P' in 'Hello, Python'

True
False
True

True

In [38]:
# Q6-3
scores = {'김예진':90,'박영진': 95,'김소희':84}

sum = 0
for key in scores :
    sum += scores[key]
    
    print('%s : %d' %(key,scores[key]))
    
avg = sum/len(scores)

print('합계 : %d, 평균 : %.2f' %(sum,avg))

김예진 : 90
박영진 : 95
김소희 : 84
합계 : 269, 평균 : 89.67

In [44]:
ad = {'id':'admin','password':'11111'}

in_id = input('관리자 아이디를 입력하세요 :')
in_password = input('관리자 비밀번호를 입력하세요 :')

if (in_id == ad['id'] and in_password == ad['password']) :
    print('모든 정보에 접근이 가능합니다.')
else :
    print('정보에 접근 권한이 없습니다.')

관리자 아이디를 입력하세요 :admin
관리자 비밀번호를 입력하세요 :11111
모든 정보에 접근이 가능합니다.

In [45]:
words = {'사과' : 'apple' , '컴퓨터' : 'computer', '학교' : 'school' , '책상' : 'desk', '의자' : 'chair'}

for key in words :
    in_word = input('%s에 해당하는 영어 단어를 입력해주세요 :' %key)
    
    if in_word == words[key]:
        print('정답입니다.')
    else :
        print('틀렸습니다.')

사과에 해당하는 영어 단어를 입력해주세요 :apple
정답입니다.
컴퓨터에 해당하는 영어 단어를 입력해주세요 :computer
정답입니다.
학교에 해당하는 영어 단어를 입력해주세요 :school
정답입니다.
책상에 해당하는 영어 단어를 입력해주세요 :dest
틀렸습니다.
의자에 해당하는 영어 단어를 입력해주세요 :chair
정답입니다.

In [47]:
#!!! 튜플 a = (11,22,33,44,55,66,77,88,99) 에서 (11,55,99) 을 가져오는 방법
a = (11,22,33,44,55,66,77,88,99)
a[0:9:4]
#시작과 끝은 생략가능
a[::4]

(11, 55, 99)

In [2]:
#집합(set)
a= {1,1,1,2,5,6}
print(a)

{1, 2, 5, 6}