In [12]:
radius = int(input('반지름을 입력하세요'))
print('반지름 : %d cm\n원의 둘레 : %.2f cm\n원의 면적 : %.2f cm^2' %(radius,radius*2*3.14,radius*radius*3.14))

반지름을 입력하세요10
반지름 : 10 cm
원의 둘레 : 62.80 cm
원의 면적 : 314.00 cm^2

In [15]:
book = int(input('책 값을 입력하세요 : '))
discount = int(input('할인율을 입력하세요(%) : '))
dilivery = int(input('배송료를 입력하세요 : '))
print('결제 금액 : %d 원' %(book - book*discount/100 + dilivery))

책 값을 입력하세요 : 15000
할인율을 입력하세요(%) : 15
배송료를 입력하세요 : 3000
결제 금액 : 15750 원

In [18]:
name = input('이름을 입력하세요 : ')
now_year = int(input('현재 년을 입력하세요 : '))
birth_year = int(input('탄생 년을 입력하세요 : '))
print('%s님의 나이는 %d세 입니다.' %(name,now_year - birth_year + 1 ))

이름을 입력하세요 : 안지영
현재 년을 입력하세요 : 2020
탄생 년을 입력하세요 : 1997
안지영님의 나이는 24세 입니다.

In [25]:
year = int(input('연을 입력하세요 : '))
month = int(input('월을 입력하세요 : '))
day = int(input('일을 입력하세요 : '))
print('%d-%02d-%02d'%(year,month,day))

연을 입력하세요 : 2020
월을 입력하세요 : 1
일을 입력하세요 : 5
2020-01-05

In [29]:
unit = input('단위를 입력하세요(1:섭씨, 2:화씨) : ')
temp = int(input('온도를 입력하세요 : '))
if unit == '2':
    temp = (temp - 32) * 5 / 9
if 0 < temp < 100:
    phase = '액체'
elif 0 > temp:
    phase = '고체'
else :
    phase = '기체'
    
print('물의 섭씨 온도 : %.2f, 상태 : %s' %(temp,phase))

단위를 입력하세요(1:섭씨, 2:화씨) : 2
온도를 입력하세요 : 31
물의 섭씨 온도 : -0.56, 상태 : 고체

In [35]:
identify = input('아이디를 입력하세요 : ')

if identify == 'admin':
    print('모든 컨텐츠 이용가능')
else :
    level = int(input('레벨을 입력하세요 : '))
    if 1 < level < 8 :
        print('일부 컨텐츠 이용 가능')
    else :
        print('컨텐츠 이용 불가')

아이디를 입력하세요 : a
레벨을 입력하세요 : 9
컨텐츠 이용 불가

In [41]:
age = int(input('나이를 입력하세요 : '))
price = 2000
if age <= 10:
    price = 1000
elif age >= 65:
    price = 0
print('입장료는 %d원 입니다.' %price)

나이를 입력하세요 : 65
입장료는 0원 입니다.

In [44]:
eng = int(input('영어시험 점수를 입력하세요 : '))
math = int(input('수학시험 점수를 입력하세요 : '))
if eng >= 80 and math >= 80:
    print('합격')
elif eng >= 80 or math >= 80:
    print('재시험 기회 제공')
else :
    print('불합격')

영어시험 점수를 입력하세요 : 85
수학시험 점수를 입력하세요 : 75
재시험 기회 제공

In [47]:
for i in range (0,5):
    for j in range(0,10):
        print('*',end=' ')
    print()
    print()

* * * * * * * * * *

* * * * * * * * * *

* * * * * * * * * *

* * * * * * * * * *

* * * * * * * * * *

In [58]:
i = 0
j = 0
while i < 5 :
    while j < 10 :
        print('*',end=' ')
        j += 1
    print()
    print()
    i+=1
    j=0

* * * * * * * * * *

* * * * * * * * * *

* * * * * * * * * *

* * * * * * * * * *

* * * * * * * * * *

In [67]:
for i in range(6,0,-1):
    for j in range(0,i):
        print(i,end='')
        
    print()

666666
55555
4444
333
22
1

In [78]:
for i in range(0,6):
    for j in range(0,i+1):
        print('%01d'%j,end='')
#         print(i,j)
    print()

0
01
012
0123
01234
012345

In [82]:
for i in range (0,8):
    for j in range(0,8):
        if 0 < i < 7 :
            if j == 0 or j == 7:
                print('*',end =' ')
            else :
                print(' ',end = ' ')
        else :
            print('*',end=' ')
    print()
    print()

* * * * * * * *

*             *

*             *

*             *

*             *

*             *

*             *

* * * * * * * *

In [94]:
sum = 0
for i in range(1,100,2):
    sum += i
    print(i,'+ ',end='')
print(' = %d'%sum)

1 + 3 + 5 + 7 + 9 + 11 + 13 + 15 + 17 + 19 + 21 + 23 + 25 + 27 + 29 + 31 + 33 + 35 + 37 + 39 + 41 + 43 + 45 + 47 + 49 + 51 + 53 + 55 + 57 + 59 + 61 + 63 + 65 + 67 + 69 + 71 + 73 + 75 + 77 + 79 + 81 + 83 + 85 + 87 + 89 + 91 + 93 + 95 + 97 + 99 +  = 2500

In [99]:
N = int(input('N의 값을 입력하세요 : '))
sum = 0
print('N의 값 : %d' %N)
for i in range(1,N):
    sum += (2*i)**((2*i)-1)
print('합계 : %d'%sum)

N의 값을 입력하세요 : 12
N의 값 : 12
합계 : 15524694038166164674661959842

In [130]:
N = int(input('N의 값을 입력하세요 : '))
for i in range(2,N+1):
    for j in range(2,i+1):
        if i == j:
#             print(i,j)
#             print(i,end=' ')
            break
        elif i%j==0:
            break

N의 값을 입력하세요 : 10
4 2
6 2
8 2
9 3
10 2