# SQLite3

In [3]:
import sqlite3
import pandas as pd

In [4]:
conn = sqlite3.connect('./test.db')

In [5]:
cur = conn.cursor()
cur.execute('SELECT * FROM eagles')
rows = cur.fetchall()

In [6]:
rows

[(1, 22, '이태양', '투수'),
 (2, 13, '최재훈', '포수'),
 (3, 3, '노태형', '내야수'),
 (4, 19, '이용규', '외야수'),
 (5, 55, '윤규진', '투수'),
 (6, 93, '주현상', '투수'),
 (7, 27, '이해창', '포수'),
 (8, 16, '하주석', '내야수'),
 (9, 52, '김태균', '내야수'),
 (10, 33, '정진호', '외야수')]

In [7]:
cur.execute("SELECT * FROM eagles where position = '투수'")
pitchers = cur.fetchall()
for pitcher in pitchers:
    print(pitcher)

(1, 22, '이태양', '투수')
(5, 55, '윤규진', '투수')
(6, 93, '주현상', '투수')

## 데이터 추가

In [9]:
cur.execute("insert into eagles(back_no,name,position) values(1,'하주석','내야수')")

In [20]:
cur.execute("SELECT * FROM eagles where position = '내야수'")
pitchers = cur.fetchall()
for pitcher in pitchers:
    print(pitcher)

(3, 3, '노태형', '내야수')
(8, 16, '하주석', '내야수')
(9, 52, '김태균', '내야수')

[(3, 3, '노태형', '내야수'), (8, 16, '하주석', '내야수'), (9, 52, '김태균', '내야수')]

In [11]:
## DB에 반영
conn.commit()

In [14]:
# 파라미터 : 튜플을 사용해서 전달.
back_no = 25
name ='최진행'
position = '외야수'
sql = 'insert into eagles(back_no,name,position) values(?,?,?)'
cur.execute(sql,(back_no,name,position))
conn.commit()

In [17]:
# 튜플 리스트 사용
players = [(38,'안영명','투수'),(54,'서균','투수')]
sql = 'insert into eagles(back_no,name,position) values(?,?,?)'
for player in players:
    cur.execute(sql,player)
conn.commit()

In [18]:
#executemany() 사용
players = [(48,'벨','투수'),(54,'김민우','투수')]
sql = 'insert into eagles(back_no,name,position) values(?,?,?)'
cur.executemany(sql,players)
conn.commit()

## 데이터 조회

In [19]:
# 순회 조회
sql = "select * from eagles where position = '포수'"
cur.execute(sql)
for result in cur:
    print(result)

(2, 13, '최재훈', '포수')
(7, 27, '이해창', '포수')

In [22]:
# 한 건 조회 ***********************************************
cur.execute(sql)
result = cur.fetchone()
print(result)

(2, 13, '최재훈', '포수')

In [23]:
result = cur.fetchone()
print(result)

(7, 27, '이해창', '포수')

In [25]:
# 갯수 지정 조회
sql = "select * from eagles where position = '투수'"
cur.execute(sql)
results = cur.fetchmany(3)
results

[(1, 22, '이태양', '투수'), (5, 55, '윤규진', '투수'), (6, 93, '주현상', '투수')]

In [26]:
results = cur.fetchmany(3)
results

[(11, 1, '신정락', '투수'), (13, 38, '안영명', '투수'), (14, 54, '서균', '투수')]

In [27]:
# 전부 조회 ***********************************************
results = cur.fetchall()
results

[(15, 48, '벨', '투수'), (16, 54, '김민우', '투수')]

In [28]:
sql = "select * from eagles where position = '내야수'"
cur.execute(sql)
results = cur.fetchall()
results

[(3, 3, '노태형', '내야수'), (8, 16, '하주석', '내야수'), (9, 52, '김태균', '내야수')]

In [31]:
# 백 넘버가 30 ~ 39 까지인 선수
sql = "select * from eagles where back_no between 20 and 29 "
cur.execute(sql)
results = cur.fetchall()
results

[(1, 22, '이태양', '투수'), (7, 27, '이해창', '포수'), (12, 25, '최진행', '외야수')]

In [30]:
# 필요한 컬럼만 조회
sql = "select back_no,name from eagles where back_no > 20 "
cur.execute(sql)
results = cur.fetchall()
results

[(22, '이태양'),
 (55, '윤규진'),
 (93, '주현상'),
 (27, '이해창'),
 (52, '김태균'),
 (33, '정진호'),
 (25, '최진행'),
 (38, '안영명'),
 (54, '서균'),
 (48, '벨'),
 (54, '김민우')]

In [32]:
# 백 넘버가 가장 큰 번호를 갖는 선수는?
sql = "select * from eagles order by back_no desc limit 1 "
cur.execute(sql)
results = cur.fetchone()
results

(6, 93, '주현상', '투수')

In [35]:
# 포지션 별 선수 수
sql = "select position, count(*) from eagles group by position "
cur.execute(sql)
results = cur.fetchall()
results

[('내야수', 3), ('외야수', 3), ('투수', 8), ('포수', 2)]

## 데이터 검색

In [42]:
# 백 넘버가 52번인 선수는?
back_no = 52
sql = "select * from eagles where back_no = ? "
cur.execute(sql,back_no)
results = cur.fetchone()
results

ValueError: parameters are of unsupported type

In [44]:
cur.execute(sql,(back_no,))
results = cur.fetchone()
results

(9, 52, '김태균', '내야수')

## 데이터 변경

In [51]:
id_ = 8
position = '외야수'
sql = "update eagles set position = ? where id = ?"
cur.execute(sql,(position,id_))
conn.commit()

## 데이터 삭제

In [52]:
sql = "delete from eagles where id = ?"
cur.execute(sql,(id_,))
conn.commit()